@font-face {
    font-family: "Graphik LC TT";
    src: url("./fonts/AnyConv.com__GraphikLCG-Regular.woff");
}
@font-face {
    font-family: "Graphik LC TT";
    src: url("./fonts/AnyConv.com__GraphikLCG-Semibold.woff");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
a,p,h1,h2,h3,h4,h5,h6, span {
    margin: 0;
}
h2 {
        font-family: 'Graphik LC TT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    /* or 120% */
    text-align: center;
    color: #000000;
}
img {
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 51px;
    border-bottom: 1px solid #808080;
}
.header__logo_nav {
    display: flex;
    gap: 51px;
}

.header_nav {
    display: flex;
    column-gap: 57px;
    align-self: center;
}

.header_nav a {
        font-family: 'Graphik LC TT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */
    color: #000000;
}

.header__buttons {
    display: flex;
    justify-content: flex-end;
    /* flex-wrap: nowrap; */
    column-gap: 10px;
}

.header__button {
        font-family: 'Graphik LC TT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    /* identical to box height, or 281% */
    text-align: center;
    color: #000000;
    min-width: 120px;
    width: 100%;
    border: 1px solid #000000;
}

.active {
        font-family: 'Graphik LC TT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    /* identical to box height, or 281% */
    text-align: center;
    color: #FFFFFF;
    background: #FF6336;
    border-radius: 0px;
    border: 1px solid #FF6336;
}
.section {
    background: #FFFFFF;
    padding: 160px 55px;
    border-bottom: 0px;
}
.container {
    max-width: 1330px;
    width: 100%;
    margin: 0 auto;
}
.wrapper_header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.block_header_text {
    display: flex;
    flex-direction: column;
    max-width: 552px;
    row-gap: 51px;
}
.block_header_text h1 {
        font-family: 'Graphik LC TT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    /* or 108% */
    color: #000000;
}
.block_header_text p {
        font-family: 'Graphik LC TT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    /* or 140% */
    color: #000000;
}
.block_header_text .header__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.header__button {
    max-width: 160px;
    width: 100%;
}
.block_header_text p:last-child{
        font-family: 'Graphik LC TT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* identical to box height, or 167% */
    color: #000000;
    margin-top: -25px;
}
.block_header_img {
    max-width: 760px;
    max-height: 530px;
    width: 100%;
}
.coral {
    display: flex;
    flex-direction: column;
    background: #FF9C7D;
    row-gap: 70px;
}

.block_coral_header {
    display: flex;
    align-self: center;
    max-width: 720px;
}
.block_coral_partners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.blocks_image_text {
    display: flex;
    flex-direction: column;
}
.main {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    row-gap: 250px;
    /* align-items: baseline; */
}
.wrapper_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}
.wrapper_main:nth-child(2) {
    flex-direction: row-reverse;
}
.wrapper_main:nth-child(4) {
    flex-direction: row-reverse;
}
.wrapper_main_text {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 493px;
    width: 100%;
    gap: 30px;
}
.wrapper_main_text,.lokalise_header h5 {
        font-family: 'Graphik LC TT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    /* or 120% */
    color: #000000;
}
.wrapper_main_text p {
        font-family: 'Graphik LC TT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    color: #000000;
}

.start_now {
        font-family: 'Graphik LC TT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    color: #000000;
}
.wrapper_main_img {
    max-height: 632px;
    max-width: 632px;
    width: 100%;
}
.lokalise {
    background: #FFF8E4;
    /* width: 100%; */
}
.lokalise_header {
    text-align: center;
    padding-bottom: 80px;
}
.wrapper_lokalise {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 130px;
    justify-content: space-evenly;
    align-self:stretch;
}
.lokalise_img_text {
    display: flex;
    flex-direction: column;
    max-width: 330px;
    align-items: center;
    /* align-content: baseline; */
    width: 100%;
    
}
.lokalise_img_text img {
    max-width: 160px;
    max-height: 120px;
    padding-bottom: 26px;
    width: 100%;

}
.lokalise_img_text h6 {
        font-family: 'Graphik LC TT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    /* identical to box height, or 140% */
    text-align: center;
    color: #000000;
    padding-bottom: 20px;
}
.lokalise_img_text p {
        font-family: 'Graphik LC TT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* or 139% */
    text-align: center;
    color: #000000;
}
.wrapper_boost {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 130px; */
    justify-content: space-evenly;
    align-items: baseline;
    /* align-content: stretch; */
}
.boost_header {
    padding-bottom: 75px;
}
.boost_header h5{
        font-family: 'Graphik LC TT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    /* identical to box height, or 120% */
    color: #000000;
}
.boost_img_text {
    display: flex;
    flex-direction: column;
    max-width: 409px;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
}
.boost_img_text img {
    padding-bottom: 50px;
}
.boost_img_text h6 {
        font-family: 'Graphik LC TT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    /* identical to box height, or 133% */
    color: #000000;
    padding-bottom: 34px;
}
.boost_img_text p {
        font-family: 'Graphik LC TT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    color: #000000;
    padding-bottom: 25px;
}
.boost_img_text a {
        font-family: 'Graphik LC TT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    text-decoration-line: underline;
    color: #000000;
}
.blue {
    background-color: #C9E8F2;
    padding-top: 53px;
    padding-bottom: 105px;
}
.container_blue {
    max-width: 1330px;
    width: 100%;
    margin: 0 auto;
}
.wrapper_blue {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}
.wrapper_blue_text {
    max-width: 900px;
}
.wrapper_blue_text article {
        font-family: 'Graphik LC TT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    /* or 133% */
    color: #000000;
    padding-bottom: 23px;
}
.wrapper_blue_text p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* identical to box height, or 167% */
    color: #000000; 
}
.blue_logo img {
    max-width: 115px;
    max-height: 25px;
    width: 100%;
}
.wrapper_blue_img {
    max-width: 310px;
    max-height: 310px;
    width: 100%;
}
.gold {
    background-color: #DABC98;
    padding-top: 90px;
    padding-bottom: 90px;
}
.container_gold {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
}
.block_gold_left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    gap: 67px;
    max-width: 807px;
    border-right:1px solid #000000;
    /* padding-right: 124px; */
}
.block_gold_left img {
    max-width: 176px;
    max-height: 154px;
}
.block_gold_left p {
        font-family: 'Graphik LC TT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    /* or 143% */
    color: #000000;
    max-width: 460px;
}
.wrapper_gold_right {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 70px;
    flex-wrap: wrap;
}
.block_gold_right {
    display: flex;
    flex-direction: column;
    max-width: 128px;
}
.block_gold_right img:first-child {
    padding-bottom: 20px;
}
.block_gold_right p:last-child {
    margin-top: 14px;
}
.wrapper_integrate {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper_integrate h5 {
        font-family: 'Graphik LC TT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    /* or 115% */
    text-align: center;
    color: #000000;
    max-width: 791px;
}
.wrapper_integrate p {
        font-family: 'Graphik LC TT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    /* or 120% */
    text-align: center;
    color: #000000;
    max-width: 539px;
}
.wrapper_integrate img {
    max-width: 1023px;
    padding: 27px 0;
}
.coral_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.coral_bottom h2 {
    max-width: 784px;
}
.coral_bottom p {
        font-family: 'Graphik LC TT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    text-align: center;
    color: #000000;
    margin-top: 29px;
}
.black {
    background-color: #000000;
    margin-top: 54px;
}
footer > .section {
    padding-bottom: 90px;
}
.footer {
    display: flex;
    margin-top: 92px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.wrapper_footer_left {
    display: flex;
    flex-direction: column;
    min-width: 310px;
    gap: 24px;
}
.wrapper_footer_left h4 {
        font-family: 'Graphik LC TT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    /* identical to box height, or 125% */
    color: #000000;
} 
.wrapper_footer_left p {
        font-family: 'Graphik LC TT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    color: #000000;
    max-width: 290px;
}
.specilazed_logo {
    min-width: 80px;
    min-height: 32px;
}
.wrapper_footer_right {
    display: flex;
    flex-direction: row;
}
.wrapper_footer_links {
    display: flex;
    flex-direction: column;
    min-width: 176px;
    row-gap: 21px;
}
.wrapper_footer_links h6 {
        font-family: 'Graphik LC TT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height, or 125% */
    color: #000000;
}
.footer_nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer_nav a {
        font-family: 'Graphik LC TT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    /* identical to box height, or 100% */
    color: #000000;
}
.footer_copyright{
    padding-bottom: 0px;
}
.copyright {
    margin-top: 0px;
    padding-top: 50px;
    border-top: 1px solid #000000;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.copyright_left {
    display: flex;
    gap:14px;
    align-items: center;
}
.copyright_left img {
    max-width: 91px;
}
.copyright_left p {
        font-family: 'Graphik LC TT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* or 125% */
    color: #000000;
    max-width: 301px;
}
.copyright_link {
        font-family: 'Graphik LC TT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height, or 125% */
    color: #000000;
    justify-content: baseline;
}